<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Artemkv.Darwin.Common"/>
  </extensions>

  <variable name="default_layout" value="${longdate}|${requestid}|${requestno}|${level}|${logger}|${message}|${exception:format=ToString}"/>
  
  <targets>
    <target
      name="darwin_common"
      xsi:type="File"
      fileName="${basedir}Logs/${date:format=yyyyMMdd}_darwin_common.log"
      layout="${default_layout}"/>
    <target
      name="darwin_error5XX"
      xsi:type="File"
      fileName="${basedir}Logs/${date:format=yyyyMMdd}_darwin_error5XX.log"
      layout="${default_layout}"/>
    <target
      name="darwin_error4XX"
      xsi:type="File"
      fileName="${basedir}Logs/${date:format=yyyyMMdd}_darwin_error4XX.log"
      layout="${default_layout}"/>
    <target
      name="darwin_performance_api"
      xsi:type="File"
      fileName="${basedir}Logs/${date:format=yyyyMMdd}_darwin_performance_api.log"
      layout="${default_layout}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="darwin_common" />
    <logger name="Error.5xx" writeTo="darwin_error5XX" />
    <logger name="Error.4xx" writeTo="darwin_error4XX" />
    <logger name="Performance.API" writeTo="darwin_performance_api" />
  </rules>
</nlog>